<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection" requirePermission="false" allowLocation="true" />
    <section name="providerPermissions" type="InsideWordAdvancedResource.Config.ProviderPermissionConfigSection, InsideWordAdvancedResource" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <!--Administrative data to be loaded on startup-->
  <providerPermissions>
    <objectTypeList>
      <objectTypeElement objectType="InsideWordProvider.ProviderMember, InsideWordProvider" displayName="Member" id="1" />
    </objectTypeList>
    <providerPermissionList>
        <providerPermissionElement name="Member Admin" description="Full permissions to read, edit and delete members of lower rank" objectType="InsideWordProvider.ProviderMember, InsideWordProvider" canRead="true" canEdit="true" canDelete="true" />
    </providerPermissionList>
  </providerPermissions>
  
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms protection="All" timeout="60" path="/" loginUrl="/" defaultUrl="/" requireSSL="false" slidingExpiration="true" cookieless="AutoDetect" enableCrossAppRedirects="false" />
    </authentication>
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <!-- allow [ValidateInput(false)] on some controller actions that submit unencoded html -->
    <httpRuntime requestValidationMode="2.0" />
    
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="3.0.0.0" />
        <bindingRedirect oldVersion="2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <legacyHMACwarning enabled="0" />
  </runtime>

  <!--Prevent unauthorized access to the admin pages-->
  <location path="admin">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <appSettings>
    <add key="ReCaptchaPrivateKey" value="6Lcg_bwSAAAAABeBwZIUn0eNQaiCIYlmcNChnwYc" />
    <add key="ReCaptchaPublicKey" value="6Lcg_bwSAAAAAEcUDk592tijBNkQWL-z2tRcbyAQ" />
    <add key="ImageHosts" value="www.insideword.com,www.chunkng.com,localhost" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MollomPrivateKey" value="2a5d6e21db1d6ab52ae5a0cb879620ef" />
    <add key="MollomPublicKey" value="38d1718a0cb49ecd515134bc3119b6a1" />
    <add key="MollomArticleQuality" value="0.1" />
    <add key="MollomCommentQuality" value="0.01" />
    <add key="HostName" value="http://localhost:54243/" />
  </appSettings>
  
  <!-- see http://www.dotnetopenauth.net/developers/code-snippets/aarnott/ for oauth configuration such as timeouts -->
    <dotNetOpenAuth>
        <openid>
        <relyingParty>
            <behaviors>
            <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
                    with OPs that use Attribute Exchange (in various formats). -->
            <add type="DotNetOpenAuth.OpenId.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth" />
            </behaviors>
        </relyingParty>
        </openid>
    </dotNetOpenAuth>

    <connectionStrings>
        <add name="InsideWordEntities" connectionString="metadata=res://*/InsideWordEntity.csdl|res://*/InsideWordEntity.ssdl|res://*/InsideWordEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=109.169.62.51\SQLEXPRESS;Initial Catalog=insideWordDb;Persist Security Info=True;User ID=insideWordDb;Password=g7TTja5kA;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>

    <system.net>
        <mailSettings>
            <smtp from="donotreply@chunkng.com">
                <network host="mail.chunkng.com" port="587" userName="support@chunkng.com" password="jfZ3F89da" />
            </smtp>
        </mailSettings>
    </system.net>

    <log4net>
        <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
            <to value="support@chunkng.com" />
            <from value="donotreply@chunkng.com" />
            <subject value="Chunkng Web Log" />
            <smtpHost value="mail.chunkng.com" />
            <port value="587" />

            <Authentication value="basic" />
            <Username value="support@chunkng.com" />
            <Password value="jfZ3F89da" />
            <bufferSize value="512" />
            <lossy value="true" />

            <evaluator type="log4net.Core.LevelEvaluator">
                <threshold value="WARN"/>
            </evaluator>

            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
            </layout>
        </appender>

        <root>
            <appender-ref ref="SmtpAppender" />
            <level value="WARN" />
        </root>
    </log4net>
    
</configuration>

