<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
      <add name="InsideWordEntities" connectionString="metadata=res://*/InsideWordEntity.csdl|res://*/InsideWordEntity.ssdl|res://*/InsideWordEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=109.169.62.51\SQLEXPRESS;Initial Catalog=insideWordDb;Persist Security Info=True;User ID=insideWordDb;Password=g7TTja5kA;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>